<!DOCTYPE html>
<html>
  <head>
    <title>Price Comparer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all" %>
  </head>
  


  <body>


  TESTONA
    <table>
	<thead>
		<tr>
		<th>Nome</th>
		<th>Descrizione</th>
		<th>Sito</th>
		<th>Prezzo</th>
		<th>Azioni</th>
	</thead>
    <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.site %></td>
        <td><%= product.price %></td>
		<td><%= button_to "Wishlist", wishlist_product_path(product), method: :patch %></td>
		<td><%= button_to "Segnala", report_product_path(product), method: :patch %></td>
	  </tr>
    <% end %>
  </tbody>
  </table>

  </body>
</html>
