<!DOCTYPE html>
<html>
<head>
    <title>Price Comparer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag 'application' %>
    <meta charset="UTF-8">
</head>

<body>
  

    <%= render "partials/header" %>
  
    <div class="container">
        <h1 class="center-align">Price Comparer</h1>

        <%= form_with url: search_products_path, method: :get, local: true, html: { class: 'col s12' } do %>
        <div class="row">
            <div class="input-field col s12">
            <%= label_tag :query, "Search" %>
            <%= text_field_tag :query, params[:query], class: "validate" %>
        </div>

        <div class="input-field col s12 m6">
            <%= label_tag :min_price, "Minimum Price" %>
            <%= number_field_tag :min_price, params[:min_price], min: 0.01, step: 0.01, class: "validate" %>
        </div>

        <div class="input-field col s12 m6">
            <%= label_tag :max_price, "Maximum Price" %>
            <%= number_field_tag :max_price, params[:max_price], min: 0.01, step: 0.01, class: "validate" %>
        </div>

        <p>
            <label>
                <%= radio_button_tag :order, "asc", params[:order] == "asc" %>
                <span>Sort by Ascending Price</span>
            </label>
        </p>

        <p>
            <label>
                <%= radio_button_tag :order, "desc", params[:order] == "desc" %>
                <span>Sort by Descending Price</span>
          </label>
        </p>

        <div class="input-field col s12">
          <%= submit_tag "Search", class: "btn waves-effect waves-light" %>
        </div>
      </div>
    <% end %>

    <table class="striped responsive-table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Descrizione</th>
          <th>Sito</th>
          <th>Prezzo</th>
          <th>Azioni</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.description %></td>
            <td><%= product.site %></td>
            <td><%= product.price %> €</td>
            <td>
              <%= button_to "Wishlist", wishlist_product_path(product), method: :patch, class: "btn-small" %>
              <%= button_to "Segnala", report_product_product_path(product), method: :patch, class: "btn-small red" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</body>
</html>
