<!DOCTYPE html>
<html>
	<head>
		<title>Price Comparer</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
    	<%= csrf_meta_tags %>
    	<%= csp_meta_tag %>
		<%= stylesheet_link_tag "application", media: "all" %>
	</head>

	<body>

		<% if flash[:alert] %>
  			<div class="alert alert-danger">
    			<%= flash[:alert] %>
  			</div>
		<% end %>
	
		<table>
			<thead>
				<tr>
					<th>Nome</th>
					<th>Descrizione</th>
					<th>Sito</th>
					<th>Prezzo</th>
					<th>Azioni</th>
				</tr>
			</thead>
    		<tbody>
    			<% @products.each do |product| %>
    				<tr>
        				<td><%= product.name %></td>
        				<td><%= product.description %></td>
        				<td><%= product.site %></td>
        				<td><%= product.price %></td>
						<td><%= button_to "Wishlist", wishlist_product_path(product), method: :patch %></td>
						<td><%= button_to "Segnala", report_product_path(product), method: :patch %></td>
					</tr>
    			<% end %>
  			</tbody>
		</table>

		<h2>Account</h2>

		<% if user_signed_in? %>
  			<p>Logged in as: <%= current_user.email %></p>
			<%= button_to "Logout", destroy_user_session_path, method: :delete %>
		<% else %>
			<p>You are not currently signed in</p>
		<% end %>
	
		<%= render "devise/shared/links", resource_name: :user, devise_mapping: Devise.mappings[:user], resource_class: User %>

		<div class="omniauth-links">
			<%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, class: "btn btn-primary" %>
		</div>
		
		<% if user_signed_in? && current_user.admin? %>
      		<%= button_to "Utenti", users_list_path, method: :get %>
			<% # button_to "Reports", TODO: implement %>
    	<% end %>
		<% if user_signed_in? && current_user.analyst? %>
      		<% # button_to "Dashboard", TODO: implement %>
    	<% end %>



	</body>
</html>
