<!DOCTYPE html>
<html>
<head>
    <title>Price Comparer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
</head>

<body>
  

    <%= render "partials/header" %>
  
    <div class="container">
        <h1 class="center-align">Price Comparer</h1>

        <%= form_with url: search_products_path, method: :get, local: true, html: { class: "col s12" } do %>
        <div class="row">
            <div class="input-field col s12">
            <%= label_tag :query, "Cerca" %>
            <%= text_field_tag :query, params[:query], class: "validate" %>
        </div>

        <div class="input-field col s12 m6">
            <%= label_tag :min_price, "Prezzo minimo" %>
            <%= number_field_tag :min_price, params[:min_price], min: 0.01, step: 0.01, class: "validate" %>
        </div>

        <div class="input-field col s12 m6">
            <%= label_tag :max_price, "Prezzo massimo" %>
            <%= number_field_tag :max_price, params[:max_price], min: 0.01, step: 0.01, class: "validate" %>
        </div>

        <p>
            <label>
                <%= radio_button_tag :order, "asc", params[:order] == "asc" %>
                <span>Ordina per prezzo crescente</span>
            </label>
        </p>

        <p>
            <label>
                <%= radio_button_tag :order, "desc", params[:order] == "desc" %>
                <span>Ordina per prezzo decrescente</span>
          </label>
        </p>

        <div class="input-field col s12">
          <%= submit_tag "Search", class: "btn waves-effect waves-light" %>
        </div>
      </div>
    <% end %>

    <table class="striped responsive-table">
			<thead>
			<tr>
				<th>Nome</th>
				<th>Descrizione</th>
				<th>Sito</th>
				<th>Prezzo</th>
				<% if user_signed_in? %>
					<th> Azioni</th>
				<% else %>
					<th colspan = "3"> Azioni</th>
				<% end %>	
			</tr>
			</thead>
			<tbody>
			<% (@combined_products || []).each do |product| %>
				<tr>
				<td><%= product.name %></td>
				<td><%= product.description %></td>
				<td><%= product.site %></td>
				<td><%= product.price %></td>
				<% if product.site == "eBay" %>
					<td><a href="<%= product.url %>">View on eBay</a></td>
				<% end %>
				<% if user_signed_in? %>
							<% if Wishlist.exists?(product_id: product.id_product, username: current_user.username) %>
								<td><%= button_to "Rimuovi dalla wishlist", remove_from_wishlist_product_path(product), method: :delete %>
							<% else %>
								<td> <%= button_to "Add to Wishlist", add_to_wishlist_products_path, method: :post, params: {
                                                                               product: {
                                                                                 name: product.name,
                                                                                 description: product.description,
                                                                                 site: product.site,
                                                                                 price: product.price,
                                                                                 currency: product.currency,
                                                                                 url: product.url,
                                                                               },
                                                                             } %></td>
							<% end %>			
					<td><%= button_to "Segnala", report_product_path(product), method: :patch %></td>
				<% end %>	
				</tr>
			<% end %>
			</tbody>
		</table>
	

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });
        </script>

	</body>

</html>
