<!DOCTYPE html>
<html>
  <head>
    <title>PriceComparer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Price Comparer</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if user_signed_in? %>
                <li><%= link_to "Edit profile", edit_user_registration_path, method: :get %></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            <% else %>
                <li><%= link_to "Sign up", new_user_registration_path %></li>
                <li><%= link_to "Login", new_user_session_path %></li>
            <% end %>
        </ul>
      </div>
    </nav>



    <div class="container">
      

      <%= form_with url: search_products_path, method: :get, local: true do %>
        <div class="input-field">
          <%= label_tag :query, "Search" %>
          <%= text_field_tag :query, params[:query], class: "validate" %>
        </div>

        <div class="input-field">
          <%= label_tag :min_price, "Minimum Price" %>
          <%= number_field_tag :min_price, params[:min_price], min: 0.01, step: 0.01, class: "validate" %>
        </div>
        <div class="input-field">
          <%= label_tag :max_price, "Maximum Price" %>
          <%= number_field_tag :max_price, params[:max_price], min: 0.01, step: 0.01, class: "validate" %>
        </div>

        <p>
          <label>
            <%= radio_button_tag :order, "asc", params[:order] == "asc" %>
            <span>Sort by Ascending Price</span>
          </label>
        </p>
        <p>
          <label>
            <%= radio_button_tag :order, "desc", params[:order] == "desc" %>
            <span>Sort by Descending Price</span>
          </label>
        </p>

        <div class="actions">
          <%= submit_tag "Search", class: "btn" %>
        </div>
      <% end %>

      <table class="striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Descrizione</th>
            <th>Sito</th>
            <th>Prezzo</th>
            <th>Azioni</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= product.name %></td>
              <td><%= product.description %></td>
              <td><%= product.site %></td>
              <td><%= product.price %></td>
              <td><%= button_to "Wishlist", wishlist_product_path(product), method: :patch, class: "btn" %></td>
              <td><%= button_to "Segnala", report_product_product_path(product), method: :patch, class: "btn" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <footer>
        <div class="container">
            <p>&copy; 2021 Price Comparer</p>
        </div>
    </footer>
  </body>
</html>
