<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Report</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        html {
            width: 100% !important;
        }

        .container {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
        }
        .btn-group {
            display: flex;
            justify-content: center;
            gap: 10px;
            flex-wrap: wrap;
            margin-top: 20px;
        }
        .btn-group .btn {
            flex: 1 1 auto;
            max-width: 200px;
            margin: 0;
        }
        @media (max-width: 600px) {
            .btn-group {
                flex-direction: column;
            }
            .btn-group .btn {
                width: 100%;
                margin-bottom: 10px;
            }
            h1 {
                font-size: 24px;
            }
        }
    </style>
</head>
<body>
    <%= render "partials/header" %>
    <div class="container">
        <h1 class="center-align">Modifica segnalazione</h1>
        <%= form_with model: @report, local: true, html: { class: 'col s12' } do |form| %>
            <% if @report.errors.any? %>
                <div id="error_explanation" class="card-panel red lighten-4">
                    <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>
                    <ul>
                        <% @report.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <div class="row">
                <div class="input-field col s12">
                    <%= form.text_field :title, class: "validate"%>
                    <%= form.label :title, "Titolo" %>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <%= form.text_area :content, class: "materialize-textarea"%>
                    <%= form.label :content, "Descrizione" %>
                </div>
            </div>

            <div class="row">
                <div class="col s12 btn-group">
                    <%= form.submit "Salva", class: "btn waves-effect waves-light btn-edit" %>
                    <%= link_to 'Indietro', reports_path, class: "btn waves-effect waves-light btn-back" %>
                </div>
            </div>
        <% end %>
    </div>
</body>
</html>
