<h1>Reports</h1>
<%= button_to 'New Report', new_report_path, method: :get, class: "btn" %>
<%= button_to 'Home', root_path, method: :get, class: "btn" %>
<ul>
  <% @reports.each do |report| %>
    <li>
      <%= button_to report.title, report, method: :get, class: "btn"%>
      <%= button_to 'Edit', edit_report_path(report), method: :get, class: "btn"%>
      <%= button_to 'Destroy', delete_report_path(report), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %>
    </li>
  <% end %>
</ul>
