<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'reports_index', media: 'all' %>

  </head>
  <body>
    <%= render "partials/header" %>
    <div class="container">
      <h1 class="center-align">Segnalazioni</h1>
      <div class="row">
        <div class="col s12">
          <%= link_to 'Nuova segnalazione', new_report_path, class: 'btn waves-effect waves-light' %>
        </div>
      </div>
      <ul class="collection">
        <% @reports.each do |report| %>
          <li class="collection-item">
            <div class="row">
              <div class="col s8">
                <%= link_to report.title, report, class: 'title' %>
              </div>
              <div class="col s4 center-text">
                <%= link_to 'Modifica', edit_report_path(report), class: 'btn-flat waves-effect btn-edit' %>
                <%= button_to 'Elimina', report_path(report), method: :delete, data: { confirm: 'Sei sicuro?' }, class: 'btn-flat waves-effect btn-destroy' %>
                <% if report.id_product.present? && Product.find_by(id_product: report.id_product).present? %>
				<%= button_to 'Elimina prodotto', destroy_with_product_report_path(report), method: :delete, data: { confirm: 'Sei sicuro?' }, class: 'btn-flat waves-effect btn-destroy' %>
				<% end %>
			  </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </body>
</html>
