<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @report.title %> Report</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'reports_show', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
      .container {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 80vh; /* Adjust height as necessary */
      }
      .report-content {
        margin-bottom: 10px; /* Reduce space between description and table */
      }
      .btn-group {
        display: flex;
        justify-content: center;
        align-items: center !important;
        gap: 10px;
        margin-top: 10px; /* Add margin to ensure proper spacing */
      }
      .btn-group .btn {
        min-width: 120px; /* Reduce button width */
        padding: 0 20px; /* Reduce padding */
        margin: 0;
      }
      @media (max-width: 600px) {
        .btn-group {
          flex-direction: column;
        }
        .btn-group .btn {
          width: 100%; /* Full width on mobile */
          margin-bottom: 10px;
        }
      }
      .report-table {
        margin-top: 10px; /* Reduce space between description and table */
      }
      .report-table th, .report-table td {
        text-align: left;
        padding: 8px;
      }
    </style>
  </head>
  <body>
    <%= render "partials/header" %>
    <div class="container">
      <h3 class="center-align report-title"><%= @report.title %></h3>
      <p class="report-content"><%= @report.content %></p>
      <% if @product.present? %>
        <table class="striped responsive-table report-table">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Descrizione</th>
              <th>Sito</th>
              <th>Prezzo</th>
              <th>Condizione</th>
              <% if @product.url.present? %>
                <td></td>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @product.name %></td>
              <td><%= @product.description %></td>
              <td><%= @product.site %></td>
              <td>
                <%= @product.price %>
                <% if @product.currency == 'EUR' %>
                  €
                <% elsif @product.currency == 'USD' %>
                  $
                <% end %>
              </td>
              <td><%= @product.condition %></td>
              <% if @product.url.present? %>
                <td><a href="<%= @product.url %>" class="btn-custom btn-small">Mostra</a></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      <% elsif @report.id_product.present? %>
        <p>Il prodotto segnalato non è più presente nel database.</p>
      <% end %>
      <div class="row btn-group">
        <%= link_to 'Modifica', edit_report_path(@report), class: 'btn waves-effect waves-light btn-edit' %>
        <%= link_to 'Indietro', reports_path, class: 'btn waves-effect waves-light btn-back' %>
      </div>
    </div>
  </body>
</html>
