<!DOCTYPE html>
<html>
  <head>
    <title>Administator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all" %>
  </head>

  <body>
    <h1> Price Comparer </h1>

    <% if flash[:error] %>
      <div class="flash-error">
        <%= flash[:error] %>
      </div>
    <% end %>

    <%= form_with url: search_users_users_path, method: :get, local: true do %>
      <div class="field">
        <%= label_tag :query_user, "Search" %>
        <%= text_field_tag :query_user, params[:query_user] %>
      </div>
          
      <div>
        <%= check_box_tag :alphabetical, '1', params[:alphabetical] == '1' %>
        <%= label_tag :alphabetical, "Alphabetical Order" %>
      </div>
      
      <div>
        <p>Filter by role:</p>
        <%= check_box_tag :administrator, '1', params[:administrator] == '1' %>
        <%= label_tag :administrator, "Administrator" %>

        <%= check_box_tag :analyst, '1', params[:analyst] == '1' %>
        <%= label_tag :analyst, "Analyst" %>

        <%= check_box_tag :neither_role, '1', params[:neither_role] == '1' %>
        <%= label_tag :neither_role, "neither_role" %>
      </div>
      

      <div class="actions"> <%= submit_tag "Search" %> </div>

    <% end %>

    <table>
      <thead>
        <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Ruoli</th>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
          <td><%= user.isAdministrator ? "Amministratore" : "" %> &emsp; <%= user.isAnalyst ? "Analista" : "" %> </td>
          <td> <%= button_to "Toggle amministratore", toggle_admin_user_path(user), method: :patch %> </td>
        <td> <%= button_to "Toggle analista", toggle_analyst_user_path(user), method: :patch %> </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <p>Number of Analysts: <%= @analyst_count %></p>
    <p>Number of Administrator: <%= @administrator_count %></p>
    <p>Number of Administrator and Analyst: <%= @analystAdministrato_count %></p>
  </body>
</html>
