<!DOCTYPE html>
<html>
  <head>
    <title>Price Comparer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag "products_dashboard", media: "all" %> <!-- Nuovo file SCSS -->
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "analyst_dashboard" %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>
  <body>
    <%= render "partials/header" %>
    <div class="container dashboard-container">
      <div class="row">
        <div class="col s12 m6">
          <h2>Prodotti salvati per categoria:</h2>
          <table class="striped">
            <thead>
              <tr>
                <th>Categoria</th>
                <th>Numero</th>
              </tr>
            </thead>
            <tbody class="data-body">
              <% @wishlisted_by_category.each do |category, count| %>
                <tr>
                  <td><%= category %></td>
                  <td><%= count %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="col s12 m6">
          <h2>Prodotti salvati per fascia di prezzo:</h2>
          <label for="category-select">Seleziona una categoria:</label>
          <select id="category-select" onchange="saveAndLoadPriceRanges()">
            <option value="">Tutte le categorie</option>
            <% @wishlisted_by_category.keys.each do |category| %>
              <option value="<%= category %>"><%= category %></option>
            <% end %>
          </select>
          <table class="striped">
            <thead>
              <tr>
                <th>Prezzo minimo</th>
                <th>Prezzo massimo</th>
                <th>Numero</th>
                <th>Azione</th>
              </tr>
            </thead>
            <tbody id="price-ranges">
              <% @wishlisted_by_price_range.each_with_index do |range, index| %>
                <tr class="price-range">
                  <td><%= number_field_tag "price_ranges[#{index}][min]", range[:min], class: "validate price-range-min", onchange: "updatePriceRange()", oninvalid: "this.setCustomValidity('Prezzo non valido')", oninput: "setCustomValidity('')" %></td>
                  <td><%= number_field_tag "price_ranges[#{index}][max]", range[:max], class: "validate price-range-max", onchange: "updatePriceRange()", oninvalid: "this.setCustomValidity('Prezzo non valido')", oninput: "setCustomValidity('')" %></td>
                  <td><%= range[:count] %></td>
                  <td>
                    <button type="button" class="btn red price-range-remove" onclick="removePriceRange(this)">
                      <i class="material-icons">remove</i>
                    </button>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="btn-dashboard-container">
            <button type="button" class="btn-dashboard price-range-add" onclick="addPriceRange()">
                <i class="material-icons left">add</i>Aggiungi fascia di prezzo
            </button>
            <br>
            <button id="save-changes" type="button" class="btn-dashboard price-range-save" onclick="saveAndLoadPriceRanges()" style="display: none;">Salva fasce</button>
            <button type="button" class="btn-dashboard price-range-load" onclick="loadPriceRanges()">Carica fasce salvate</button>
          </div>
        </div>
      </div>
    </div>
    <%= render "partials/footer" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
