<!DOCTYPE html>
<html>
  <head>
    <title>Price Comparer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
      /* Media queries per la riduzione del titolo */
      h2 {
        font-size: 2.5rem; /* Dimensione di default */
      }
      @media (max-width: 992px) {
        h2 {
          font-size: 2rem; /* Dimensione per schermi medi */
        }
      }
      @media (max-width: 600px) {
        h2 {
          font-size: 1.5rem; /* Dimensione per schermi piccoli */
        }
      }
    </style>
  </head>

  <body>
    <%= render "partials/header" %>

    <div class="container">
      <div class="row">
        <div class="col s12 m6">
          <h2>Prodotti salvati per categoria:</h2>
          <table class="striped">
            <thead>
              <tr>
                <th>Categoria</th>
                <th>Numero</th>
              </tr>
            </thead>
            <tbody>
              <% @wishlisted_by_category.each do |category, count| %>
                <tr>
                  <td><%= category %></td>
                  <td><%= count %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="col s12 m6">
          <h2>Prodotti salvati per fascia di prezzo:</h2>
          <%= form_with url: products_dashboard_path, method: :get, local: true do |form| %>
            <table class="striped">
              <thead>
                <tr>
                  <th>Prezzo minimo</th>
                  <th>Prezzo massimo</th>
                  <th>Numero</th>
                  <th>Azione</th>
                </tr>
              </thead>
              <tbody id="price-ranges">
                <% @wishlisted_by_price_range.each_with_index do |range, index| %>
                  <tr class="price-range">
                    <td><%= text_field_tag "price_ranges[#{index}][min]", range[:min], class: 'validate' %></td>
                    <td><%= text_field_tag "price_ranges[#{index}][max]", range[:max], class: 'validate' %></td>
                    <td><%= range[:count] %></td>
                    <td>
                      <button type="button" class="btn red" onclick="removePriceRange(this)">
                        <i class="material-icons">remove</i>
                      </button>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <button type="button" class="btn" onclick="addPriceRange()">
              <i class="material-icons left">add</i>Aggiungi fascia di prezzo
            </button>
            <%= form.submit "Filtra", class: "btn" %>
          <% end %>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        M.AutoInit();
      });

      function addPriceRange() {
        var index = document.querySelectorAll('.price-range').length;
        var priceRanges = document.getElementById('price-ranges');
        var newRange = document.createElement('tr');
        newRange.classList.add('price-range');
        newRange.innerHTML = `
          <td><input type="text" name="price_ranges[${index}][min]" class="validate" /></td>
          <td><input type="text" name="price_ranges[${index}][max]" class="validate" /></td>
          <td></td>
          <td><button type="button" class="btn red" onclick="removePriceRange(this)"><i class="material-icons">remove</i></button></td>
        `;
        priceRanges.appendChild(newRange);
      }

      function removePriceRange(button) {
        button.parentElement.parentElement.remove();
      }
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
