<!DOCTYPE html>
<html>
	<head>
		<title>Price Comparer</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
    	<%= csrf_meta_tags %>
    	<%= csp_meta_tag %>
		<%= stylesheet_link_tag "application", media: "all" %>
		<%= javascript_include_tag "application" %>
	</head>

	<body>

    <%= render "partials/header" %>
	
	<table>
		<th>
	<h2>Prodotti salvati per categoria:</h2>
    <table>
    	<thead>
       		<tr>
       			<th>Categoria</th>
       			<th>Numero</th>
    		</tr>
    	</thead>
    	<tbody>
    	  	<% @wishlisted_by_category.each do |category, count| %>
    	   		<tr>
    	       		<td><%= category %></td>
    	      		<td><%= count %></td>
    	   		</tr>
    	   	<% end %>
    	</tbody>
    </table>
	</th>
	<th>
     <h2>Prodotti salvati per fascia di prezzo:</h2>
    <%= form_with url: products_dashboard_path, method: :get, local: true do |form| %>
      <table>
        <thead>
          <tr>
            <th>Prezzo minimo</th>
            <th>Prezzo massimo</th>
            <th>Numero</th>
            <th>Azione</th>
          </tr>
        </thead>
        <tbody id="price-ranges">
          <% @wishlisted_by_price_range.each_with_index do |range, index| %>
            <tr class="price-range">
              <td><%= text_field_tag "price_ranges[#{index}][min]", range[:min] %></td>
              <td><%= text_field_tag "price_ranges[#{index}][max]", range[:max] %></td>
              <td><%= range[:count] %></td>
              <td><button type="button" onclick="removePriceRange(this)">Rimuovi</button></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <button type="button" onclick="addPriceRange()">Aggiungi fascia di prezzo</button>
      <%= form.submit "Filtra" %>
    <% end %>
	</th>
	</table>

    <script>
      function addPriceRange() {
        var index = document.querySelectorAll('.price-range').length;
        var priceRanges = document.getElementById('price-ranges');
        var newRange = document.createElement('tr');
        newRange.classList.add('price-range');
        newRange.innerHTML = `
          <td><input type="text" name="price_ranges[${index}][min]" /></td>
          <td><input type="text" name="price_ranges[${index}][max]" /></td>
          <td></td>
          <td><button type="button" onclick="removePriceRange(this)">Rimuovi</button></td>
        `;
        priceRanges.appendChild(newRange);
      }

      function removePriceRange(button) {
        button.parentElement.parentElement.remove();
      }
    </script>
	
	</body>
</html>