<!DOCTYPE html>
<html>
  <head>
    <title>Price Comparer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  


  <body>
    <table>
	<thead>
		<tr>
		<th>Nome</th>
		<th>Descrizione</th>
		<th>Sito</th>
		<th>Prezzo</th>
		<th>Azioni</th>
	</thead>
    <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.site %></td>
        <td><%= product.price %></td> 
      </tr>
    <% end %>
  </tbody>
  </table>

  </body>
</html>
