<!DOCTYPE html>
<html>
  <head>
    <title>Price Comparer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag "wishlist_style", media: "all" %>
    <%= javascript_include_tag "wishlist" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <%= render "partials/header" %>
    <div class="container">
      <h5>Wishlist di: <%= @user.username %></h5>
      <%= form_with url: search_wishlisted_products_path, method: :get, local: true, id: 'search-form', class: "row" do %>
        <div class="input-field col s12 m6">
          <%= label_tag :query, "Cerca" %>
          <%= text_field_tag :query, params[:query], class: "validate" %>
        </div>
        <div class="input-field col s12 m6">
          <%= label_tag :min_price, "Prezzo minimo" %>
          <%= number_field_tag :min_price, params[:min_price], min: 0.01, step: 0.01, id: 'min_price', class: "validate", oninvalid: "this.setCustomValidity('Prezzo non valido')", oninput: "setCustomValidity('')" %>
        </div>
        <div class="input-field col s12 m6">
          <%= label_tag :max_price, "Prezzo massimo" %>
          <%= number_field_tag :max_price, params[:max_price], min: 0.01, step: 0.01, id: 'max_price', class: "validate", oninvalid: "this.setCustomValidity('Prezzo non valido')", oninput: "setCustomValidity('')" %>
        </div>
        <% if @user == current_user %>
          <div class="input-field col s12 m6">
            <%= label_tag :label, "Etichetta" %>
            <%= text_field_tag :label, params[:label], class: "validate" %>
          </div>
        <% end %>
        <div class="col s12">
          <p>
            <label>
              <%= radio_button_tag :order, "asc", params[:order] == "asc" %>
              <span>Ordina per prezzo crescente</span>
            </label>
          </p>
          <p>
            <label>
              <%= radio_button_tag :order, "desc", params[:order] == "desc" %>
              <span>Ordina per prezzo decrescente</span>
            </label>
          </p>
        </div>
        <div class="col s12">
          <%= submit_tag "Cerca", class: "btn" %>
        </div>
      <% end %>
      <% if flash[:error] %>
        <div class="card-panel red lighten-2">
          <%= flash[:error] %>
        </div>
      <% end %>
      <% if @wishlisted_products_with_labels.present? %>
        <div class="product-cards">
          <% @wishlisted_products_with_labels.each do |product| %>
            <div class="card product-card" id="wishlist-item-<%= product.id_product %>">
              <div class="card-content">
                <span class="card-title"><%= product.name %></span>
                <p><b>Descrizione:</b> <%= product.description %></p>
                <p><b>Sito:</b> <%= product.site %></p>
                <p><b>Prezzo:</b> <%= product.price %>
                  <% if product.currency == 'EUR' %>
                    <span>€</span>
                  <% elsif product.currency == 'USD' %>
                    <span>$</span>
                  <% end %>
                </p>
                <p><b>Condizione:</b> <%= product.condition %></p>
                <% if @user == current_user %>
                  <div>
                    <b>Etichette:</b>
                    <table>
                      <% (product.wishlist_labels || "").split(",").each do |label| %>
                        <tr>
                          <td><%= label.strip %></td>
                          <td><%= button_to remove_label_wishlist_path(product.id_product, label_name: label.strip), method: :delete, class: "btn red" do %>
                              <i class="material-icons">remove</i>
                            <% end %></td>
                        </tr>
                      <% end %>
                    </table>
                    <%= form_with url: add_label_wishlist_path(product.id_product), method: :post, local: true, class: "label-form" do %>
                      <div class="input-field">
                        <%= text_field_tag :label_name, nil, placeholder: "Aggiungi etichetta", class: "validate", id:"inputLabel-"+String(product.id_product), onchange: "showAddButton("+String(product.id_product)+")" %>
                      </div>
                      <%= submit_tag "Aggiungi etichetta", class: "btn btn-primary", id:"submitLabel-"+String(product.id_product), style: "display: none;" %>
                    <% end %>
                  </div>
                  <div class="actions">
                    <%= button_to "Rimuovi dalla wishlist", remove_from_wishlist_product_path(product, id_product: product.id_product), method: :delete, class: "btn red" %>
                    <%= button_to "Segnala", report_product_product_path(product, id_product: product.id_product), method: :patch, class: "btn yellow darken-2" %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="card-panel teal lighten-2">
          <span id="result-message" class = "centered-span"><%= flash[:custom] %></span>
        </div>
        <p></p>
      <% end %>
    </div>
    <%= render "partials/footer" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      function showAddButton(productId) {
          document.getElementById("submitLabel-" + productId).style.display = 'inline-block';
      }
    </script>
  </body>
</html>
