<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Edit <%= resource_name.to_s.humanize %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" %>
    <style>
        .flash-error {
            background-color: #ffebee; /* Light red background */
            color: #d32f2f; /* Dark red text */
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        .btn-toggle {
            margin-top: 5px;
        }
        .header {
            background-color: #4CAF50; /* Verde */
            padding: 20px;
            color: white;
            text-align: center; /* Center align text */
        }
        .container {
            margin-top: 30px;
        }
        .table-container {
            overflow-x: auto;
        }
        table {
            width: 100%;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        .checkbox-group {
            margin-bottom: 20px;
        }
        .checkbox-group label {
            margin-right: 20px; /* Adds space between checkboxes */
        }
        .admin-row {
            background-color: #EE6E73; /* Light green background for administrators */
        }
    </style>
</head>
<body>
    <%= render "partials/header" %>
    <div class="header">
        <div class="container">
            <h3>Edit <%= resource_name.to_s.humanize %></h3>
        </div>
    </div>

    <div class="container">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'col s12' }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="row">
                <div class="input-field col s12">
                    <%= f.text_field :username, autofocus: true, autocomplete: "username", class: 'validate' %>
                    <%= f.label :username, "Username" %>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'validate' %>
                    <%= f.label :email, "Email" %>
                </div>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div class="row">
                    <div class="col s12">
                        Currently waiting confirmation for: <%= resource.unconfirmed_email %>
                    </div>
                </div>
            <% end %>

            <div class="row">
                <div class="input-field col s12">
                    <%= f.password_field :password, autocomplete: "new-password", class: 'validate' %>
                    <%= f.label :password, "Password" %>
                    <span>(leave blank if you don't want to change it)</span>
                    <% if @minimum_password_length %>
                        <br />
                        <em><%= @minimum_password_length %> characters minimum</em>
                    <% end %>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'validate' %>
                    <%= f.label :password_confirmation, "Password confirmation" %>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <%= f.password_field :current_password, autocomplete: "current-password", class: 'validate' %>
                    <%= f.label :current_password, "Current password" %>
                    <span>(we need your current password to confirm your changes)</span>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <%= f.submit "Update", class: 'btn waves-effect waves-light' %>
                </div>
            </div>
        <% end %>

        <h3>Cancel my account</h3>

        <div class="row">
            <div class="col s12">
                Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: 'btn waves-effect waves-light red' %>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <%= link_to "Back", :back, class: 'btn waves-effect waves-light grey' %>
            </div>
        </div>
    </div>

    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" %>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            M.updateTextFields();
        });
    </script>
</body>
</html>
