<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Edit <%= resource_name.to_s.humanize %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" %>
    <%= stylesheet_link_tag 'edit_profile', media: 'all', data: {turbolinks: false} %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <%= render "partials/header" %>
    <div class="header profile-header">
        <div class="container">
            <h3>Profilo</h3>
        </div>
    </div>

    <div class="container profile-container">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'col s12' }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="row">
                <div class="input-field col s12">
                    <%= f.text_field :username, autofocus: true, autocomplete: "username", class: 'validate' %>
                    <%= f.label :username, "Nome utente" %>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'validate' %>
                    <%= f.label :email, "E-mail" %>
                </div>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div class="row">
                    <div class="col s12">
                        In attesa di conferma per: <%= resource.unconfirmed_email %>
                    </div>
                </div>
            <% end %>

            <div class="row">
                <div class="input-field col s12">
                    <%= f.password_field :password, autocomplete: "new-password", class: 'validate' %>
                    <%= f.label :password, "Nuova password" %>
                    <span> Lascia vuoto se non desideri cambiare la password</span>
                    <% if @minimum_password_length %>
                        <br />
                        <em>minimo <%= @minimum_password_length %> caratteri</em>
                    <% end %>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'validate' %>
                    <%= f.label :password_confirmation, "Conferma password" %>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <%= f.password_field :current_password, autocomplete: "current-password", class: 'validate' %>
                    <%= f.label :current_password, "Password attuale" %>
                    <span>Abbiamo bisogno della tua password attuale per confermare i tuoi cambiamenti</span>
                </div>
            </div>

            <div class="row">
                <div class="col s12 center-align">
                    <%= f.submit "Aggiorna informazioni", class: 'btn profile-submit-btn' %>
                </div>
            </div>
        <% end %>

        <h3>Azioni irreversibili</h3>

        <div class="row">
            <div class="col s12 center-align">
                Desideri cancellare il tuo account? <%= button_to "Elimina il mio account", registration_path(resource_name), data: { confirm: "Sei sicuro?", turbo_confirm: "Sei sicuro?" }, method: :delete, class: 'btn red profile-delete-btn' %>
            </div>
        </div>

    </div>

    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" %>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            M.updateTextFields();
        });
    </script>
</body>
</html>
