<h1> Price Comparer </h1>
|  <%= link_to "Home", root_path, method: :get %>  |  
<% if user_signed_in? %>	
	<%= link_to "Wishlist", wishlist_path, method: :get %>  |  
	<% if current_user.isAdministrator? %>
		<%= link_to "Utenti", users_list_path, method: :get %>  |  
		<!-- TODO: send to correct page -->
		<%= link_to "Reports", users_list_path %>  |  
	<% end %>
		<% if current_user.isAnalyst? %>
    	<%= link_to "Dashboard prodotti", products_dashboard_path, method: :get %>  |  
    <% end %>
<% end %>
<br>
<br>